<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Forum
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %} {{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %} {{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:70px;">
			<a class="navbar-brand" href="#">Forum</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
			<ul class="nav navbar-nav navbar-right d-flex">
				{% if app.user %}
					<li>
						<a class="nav-link" href="{{ path('app_sujets') }}">Liste des sujets</a>
					</li>
					<li>
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
				{% endif %}
				{% if not app.user %}
					<li>
						<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
					</li>
					<li>
						<a class="nav-link" href="{{ path('app_inscription') }}">Inscription</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
